.product-card {
  background: #f0f0f0;
  border: 1px solid #d4d4d4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -3px); /* Translate the card 5 pixels up on hover */
  }
}

.product-image {
  max-width: 100%;
  border-radius: 8px;
}

.product-description {
  color: #555;
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text. */
  white-space: nowrap; /* Prevent wrapping */
}

.product-price {
  font-weight: bold;
  color: #007bff;
}

.product-link {
  text-decoration: none;
}

